@font-face {
	font-family: 'Gilroy';
	src: url('../../public/fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../../public/fonts/Gilroy-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../../public/fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../../public/fonts/Gilroy-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../../public/fonts/Gilroy-Semibold.woff2') format('woff2'),
		url('../../public/fonts/Gilroy-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../../public/fonts/Gilroy-Extrabold.woff2') format('woff2'),
		url('../../public/fonts/Gilroy-Extrabold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

* {
	font-family: 'Gilroy';
	font-weight: 400;
	font-display: swap;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: all ease 0.3s;
}

html,
body {
	position: relative;
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
li {
	text-decoration: none;
	list-style: none;
}

h2 {
	font-size: 36px;
	font-weight: 600;
}

button {
	color: black;
	cursor: pointer;
}

.container {
	margin-top: 200px;
}

@media screen and (max-width: 570px) {
	h2 {
		font-size: 24px;
	}
	.container {
		margin-top: 90px;
	}
}

:root {
	--index: calc(1vw + 1vh);
}
