.wrapper {
	padding: 24px 32px;
	margin: 0 auto;
	max-width: calc(1662px + calc(2 * 32px));
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 25px;

	h1 {
		font-size: 32px;
		font-weight: 500;
	}

	h3 {
		font-size: 28px;
	}
}
