.slider_wrapper {
	position: relative;
	width: 100%;
	padding-top: 60px;
}

.slide {
	position: relative;
	width: 317px !important;
	height: 468px !important;
	border-radius: 12px;
	overflow: hidden;
}

.slide_info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 14px 30px;
	background: rgba(255, 255, 255, 0.75);
	h4 {
		font-weight: 600;
		font-size: 20px;
		margin-bottom: 4px;
	}
	p {
		font-weight: 600;
		font-size: 10px;
		text-transform: uppercase;
		color: #5820f6;
	}
}

.navigation {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	display: flex;
	gap: 10px;
}

.btn {
	width: 36px;
	height: 36px;
	display: block;
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: #5820f6;
	&:hover {
		color: #6f3bff;
	}
}

@media screen and (max-width: 570px) {
	.slide {
		width: 230px !important;
		height: 338px !important;
	}
	.slide_info {
		h4 {
			font-size: 16px;
		}
		p {
			font-size: 11px;
		}
	}
}
