.wrapper {
	display: block;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.not_visible {
	display: none;
}

.block {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 450px;
	// align-items: center;
	gap: 15px;
	padding: 30px;
	border-radius: 8px;
	background-color: #fff;
	border: 1px solid #dadada;
	box-shadow: 0px 5px 30px rgba(34, 34, 34, 0.1);
	img,
	h2 {
		align-self: center;
	}

	> div {
		h3 {
			margin-left: 8px;
			margin-bottom: 5px;
			font-size: 18px;
		}

		p {
			padding: 8px 15px;
			border: 1px solid #dadada;
			border-radius: 8px;
			overflow-x: scroll;
			-ms-overflow-style: none; /* IE и Edge */
			scrollbar-width: none; /* Firefox */
			&::-webkit-scrollbar {
				display: none;
			}
		}
	}
}

.close_btn {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

@media screen and (max-width: 570px) {
	.block {
		height: 100%;
		max-width: 100%;
		width: 100%;
	}
}

@media screen and (max-height: 500px) {
	.block {
		overflow-y: scroll;
		padding-bottom: 120px;
		img {
			width: 150px;
			height: 150px;
		}
		> div {
			h3 {
				margin-left: 8px;
				margin-bottom: 5px;
				font-size: 16px;
			}

			p {
				font-size: 14px;
				padding: 8px 15px;
				border: 1px solid #dadada;
				border-radius: 8px;
				overflow: scroll;
			}
		}
	}
}
