.link_btn {
	display: flex;
	align-items: center;
	padding: 1px 24px;
	text-transform: uppercase;
	background-color: #5820f6;
	height: 42px;
	width: max-content;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	border-radius: 8px;
	&:hover {
		background-color: #784af7;
	}
}
