.wrapper {
	padding: 30px 30px 28px 27px;
	border: 1px solid #ededed;
	border-radius: 8px;
	min-width: 400px;

	&:hover {
		border-color: #7140f7;
	}
	p {
		color: #555;
		line-height: 1.4;
	}
}

.top {
	display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 25px;
	img {
		border-radius: 50%;
	}
}

.info {
	p {
		font-size: 16px;
		color: #555;
		span {
			font-size: 14px;
		}
	}
	h3 {
		font-size: 20px;
		font-weight: 500;
	}
}
