.wrapper {
	position: relative;
	padding: 30px 30px 28px 27px;
	border: 1px solid #ededed;
	border-radius: 8px;
	overflow-y: hidden;
	// min-width: 400px;
	height: 100%;
	display: grid;
	grid-template-rows: 1fr 4fr;
	row-gap: 10px;

	&:hover {
		border-color: #7140f7;
	}
	p {
		color: #555;
		line-height: 1.4;
	}
	> p {
		overflow-y: scroll;
		-ms-overflow-style: none; /* Internet Explorer 10+ */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none; /* Safari and Chrome */
		}
	}
}

.contact_place .top {
	display: flex;
	align-items: center;
	gap: 20px;
}

.image {
	position: relative;
	border-radius: 50%;
	width: 64px;
	height: 64px;
	overflow: hidden;
}

.info {
	p {
		font-size: 16px;
		color: #555;
		span {
			font-size: 14px;
		}
	}
	h3 {
		font-size: 20px;
		font-weight: 500;
	}
}
