.btn_wrapper {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border: none;
  width: max-content;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    color: #5820f6;
  }
  img {
    margin-bottom: 5px;
  }
}
